#title {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 5px;
  position: absolute;
  top: -10px;
  z-index: 9999;
}
.opacity-bg {
  background-color:rgba(256,256,256,0.45);
}
#screenName {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 335px;
  z-index: 9999;
  text-align: center;
  font-size: 50pt;
  font-weight:bold;
}
.bxslider {
  padding: 0px;
  margin: 0px;
}
#contents {
  margin-top: 30px;
}
